
.vs/Minigin/v15/Browse.VC.db
.vs/Minigin/v15/ipch/f14a5182687e49a.ipch
.vs/Minigin/v15/ipch/f2211cd15f47f166.ipch
.vs/Minigin/v15/Browse.VC.opendb
.vs/Minigin/v15/Solution.VC.db
.vs/Minigin/v15/Solution.VC.db-shm
.vs/Minigin/v15/Solution.VC.db-wal
Minigin/x64/Debug/Minigin.tlog/CL.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/CL.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.command.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.read.1.tlog
Minigin/x64/Debug/Minigin.tlog/link.write.1.tlog
Minigin/x64/Debug/Minigin.tlog/Minigin.lastbuildstate
Minigin/x64/Debug/Minigin.tlog/Minigin.write.1u.tlog
Minigin/x64/Debug/vc141.idb
x64/Debug/Minigin.exp
*.ipch
*.tlog
*.idb
